$primary-color: hsl(180, 29%, 50%);
$secondary-color: hsl(180, 52%, 96%);
$tertiary-color: hsl(180, 31%, 95%);
$dark-grey-cyan: hsl(180, 8%, 52%);
$darker-grey-cyan: hsl(180, 14%, 20%);

/* globals */
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
