@import './styles/shared.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}

header {
  background-color: $primary-color;
  min-height: 155px;
}

main {
  background-color: $secondary-color;
  padding: 50px 30px 10px 30px;
}



footer {
  background-color: $primary-color;
  min-height: 140px;
  text-align: center;
  color: #fff;
  padding-top: 30px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
